<h1>Crypto Wallet</h1>

<p> 
    <strong> Data: </strong> 
    <%= data_br(Date.today) %>  
</p>

<ul>
    <li>
        <%= link_to "Cadastro de Moedas", new_coin_path %>
    </li>
</ul>

<p>
Seu nome é <strong> <%= @meu_nome %> </strong> 
</p>

<p>
Seu curso é <strong> <%= @meu_curso %> </strong> 
</p>
